[submodule "src/FridayFaerie--quickshell"]
	path = src/FridayFaerie--quickshell
	url = https://github.com/FridayFaerie/quickshell
[submodule "src/PapaMilky--Quickshell"]
	path = src/PapaMilky--Quickshell
	url = https://git.drinkmymilk.org/PapaMilky/Quickshell
[submodule "src/caelestia-dots--shell"]
	path = src/caelestia-dots--shell
	url = https://github.com/caelestia-dots/shell.git
[submodule "src/end-4--dots-hyprland"]
	path = src/end-4--dots-hyprland
	url = https://github.com/end-4/dots-hyprland
[submodule "src/flickowoa--zephyr"]
	path = src/flickowoa--zephyr
	url = https://github.com/flickowoa/zephyr
