[submodule "src/FridayFaerie--quickshell"]
	path = src/FridayFaerie--quickshell
	url = https://github.com/FridayFaerie/quickshell
[submodule "src/PapaMilky--Quickshell"]
	path = src/PapaMilky--Quickshell
	url = https://git.drinkmymilk.org/PapaMilky/Quickshell
[submodule "src/caelestia-dots--shell"]
	path = src/caelestia-dots--shell
	url = https://github.com/caelestia-dots/shell.git
[submodule "src/flickowoa--zephyr"]
	path = src/flickowoa--zephyr
	url = https://github.com/flickowoa/zephyr
[submodule "src/mewoocat--NixOS"]
	path = src/mewoocat--NixOS
	url = https://github.com/mewoocat/NixOS
[submodule "src/nydragon--nysh"]
	path = src/nydragon--nysh
	url = https://github.com/nydragon/nysh
[submodule "src/outfoxxed--nixnew"]
	path = src/outfoxxed--nixnew
	url = https://git.outfoxxed.me/outfoxxed/nixnew
[submodule "src/pgattic--dotfiles"]
	path = src/pgattic--dotfiles
	url = https://github.com/pgattic/dotfiles
[submodule "src/pterror--config-quickshell"]
	path = src/pterror--config-quickshell
	url = https://github.com/pterror/config-quickshell
[submodule "src/quickshell--quickshell-examples"]
	path = src/quickshell--quickshell-examples
	url = https://git.outfoxxed.me/quickshell/quickshell-examples
[submodule "src/Readf0x--quickshell"]
	path = src/Readf0x--quickshell
	url = https://github.com/Readf0x/quickshell
[submodule "src/Rexcrazy804--Zaphkiel"]
	path = src/Rexcrazy804--Zaphkiel
	url = https://github.com/Rexcrazy804/Zaphkiel
[submodule "src/SirEthanator--Quickshell-WIP"]
	path = src/SirEthanator--Quickshell-WIP
	url = https://github.com/SirEthanator/Quickshell-WIP
[submodule "src/starchglazer--shell"]
	path = src/starchglazer--shell
	url = https://github.com/starchglazer/shell
[submodule "src/wm-packages--pikabar"]
	path = src/wm-packages--pikabar
	url = https://git.pika-os.com/wm-packages/pikabar
